// fonts
%txt-mont-reg-12-light {
    @include text($MontserratRegular, $rootFontSize*1.2, $textColor);
}
%txt-mont-reg-14-white {
    @include text($MontserratRegular, $rootFontSize*1.4, $whiteColor);
}
%txt-mont-reg-14-light {
    @include text($MontserratRegular, $rootFontSize*1.4, $textColor);
}
%txt-mont-bold-14-white {
    @include text($MontserratBold, $rootFontSize*1.4, $whiteColor);
}
%txt-mont-reg-14-dark {
    @include text($MontserratRegular, $rootFontSize*1.4, $secondaryColor);
}
%txt-mont-b-18-dark {
    @include text($MontserratBold, $rootFontSize*1.8, $secondaryColor);
}
%txt-mont-b-18-white {
    @include text($MontserratBold, $rootFontSize*1.8, $whiteColor);
}
%txt-mont-b-24 {
    @include text($MontserratBold, $rootFontSize*2.4, $textColor);
}
%txt-mont-b-30-dark {
    @include text($MontserratBold, $rootFontSize*3, $secondaryColor);
}
%txt-mont-b-30-white {
    @include text($MontserratBold, $rootFontSize*3, $whiteColor);
}
%txt-mont-b-24-white {
    @include text($MontserratBold, $rootFontSize*2.4, $whiteColor);
}
%txt-mont-b-46-light {
    @include text($MontserratBold, $rootFontSize*4.6, $textColor);
}
%txt-mont-b-72-white {
    @include text($MontserratBold, $rootFontSize*7.2, $whiteColor);
}
%txt-mont-b-140-white {
    @include text($MontserratBold, $rootFontSize*14, $whiteColor);
}
%txt-kaush-reg-24-dark {
    @include text($KaushanScriptRegular, $rootFontSize*2.4, $secondaryColor);
}
%txt-kaush-reg-72-white {
    @include text($KaushanScriptRegular, $rootFontSize*7.2, $whiteColor);
}
%txt-rob-li-it-13-light {
    @include text($RobotoLightItalic, $rootFontSize*1.3, $textColor);
}
%txt-rob-li-it-15-light {
    @include text($RobotoLightItalic, $rootFontSize*1.5, $textColor);
}
%txt-rob-li-it-15-white {
    @include text($RobotoLightItalic, $rootFontSize*1.5, $whiteColor);
}
%txt-rob-reg-15-light {
    @include text($RobotoRegular, $rootFontSize*1.5, $textColor);
}
%txt-rob-li-it-24-light {
    @include text($RobotoLightItalic, $rootFontSize*2.4, $textColor);
}
// sections headers
%secHeaderStyle {
    padding: 9rem 0 11rem 0;
    h3 {
        @extend %txt-mont-b-30-dark;
    }
    p {
        @extend %txt-kaush-reg-24-dark;
        margin-bottom: 2.4rem;
    }
    h5 {
        @extend %txt-rob-reg-15-light;
        margin-bottom: 10rem;
    }
    h3::after {
        content: " ";
        display: block;
        margin: 4rem auto 5rem;
        height: 0.3rem;
        background-color: $extraColor;
        width: 6rem;
    }
}
// borders color
%borderColor {
    border-color: $borderColor;
}
// amazing services section
%amazingServices {
    .media-card {
		img {
			margin-right: 3rem;
		}
		h6 {
			@extend %txt-mont-reg-14-dark;
			margin-bottom: 2rem;
		}
		p {
			@extend %txt-rob-reg-15-light;
		}
	}
}
// block quotes style
%blockQuoteStyle {
    padding: 7rem 0;
    img, .img {
        margin-right: 3rem;
    }
    .text {
        @extend %txt-rob-li-it-24-light;
    }
    .signature {
        @extend %txt-kaush-reg-24-dark
    }
    .signature::before {
        content: " ";
        display: inline-block;
        margin: 0 2rem 0.8rem 0;
        height: 0.3rem;
        background-color: $extraColor;
        width: 6rem;
    }
}
// what people say section
%whatPeopleSay {
    &.media-1, &.media-2 {
        margin-bottom: 7rem;
    } 
    h6 {
        @extend %txt-mont-reg-14-dark;
        margin-bottom: 1.5rem;
    }
    p.title {
        @extend %txt-rob-li-it-15-light;
        &::after {
            content: " ";
            display: block;
            margin: 1.8rem 0 2.5rem;
            height: 0.3rem;
            background-color: $extraColor;
            width: 6rem;
        }
    }
    p.opinion {
        @extend %txt-rob-reg-15-light;
    }
    .rounded-img {
		width: 11rem;
		height: 11rem;
        border-radius: 50%;
        margin-right: 3rem;
	}

}
// latest blog section
%latestBlog {
    .card-img-top {
        position: relative;
        .date {
            padding: 1rem;
            width: 6rem;
            height: 7rem;
            text-align: center;
            background-color: $primaryColor;
        }
        .day {
            @extend %txt-mont-b-24-white;
            line-height: 3rem;
        }
        .month {
            @extend %txt-rob-li-it-15-white;
        }
    }
    .card-body {
        padding: 2rem 0;
        border-bottom: 1px solid $borderColor;
    }
    .card-title {
        margin-bottom: 2rem;
        @extend %txt-mont-reg-14-dark
    }
    .card-text {
        @extend %txt-rob-reg-15-light;
    }
    .card-footer {
        i {
            color: $primaryColor;
            font-size: 1.5rem;
            margin-right: 0.6rem;
        }
        span {
            @extend %txt-rob-li-it-15-light;
            margin-right: 2rem;
        }
    }
}
// grey overlay
%overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}
%whiteOverlay {
    background-color: $whiteOverlayColor;
}
%gradientOverlay {
    background: $gradient;
}
%hoverLayoutAnimated {
    position: relative;
    .gradient-overlay {
        display: none;
    }
    &:hover {
        img {
            box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
            transform: translate(-10px, -10px);
        }
        .gradient-overlay {
            display: block;
            transform: translate(-10px, -10px);
        }
    }
}
%hoverLayoutStatic {
    position: relative;
    .gradient-overlay {
        display: none;
    }
    &:hover {
        .gradient-overlay {
            display: block;
        }
    }
    @media only screen and (max-width: 1024px) {
        &:hover {
            .gradient-overlay {
                display: none;
            }
        }
    }
}
