//colors
$primaryColor: #95e1d3;
$secondaryColor: #333333;
$textColor: #999999;
$borderColor: #e5e5e5;
$borderColor2: #b5eae0;
$bgLightColor: #f8f8f8;
$whiteOverlayColor: rgba(255, 255, 255, 0.8);
$extraColor: #f38181;
$extraColor2: #fce38a;
$whiteColor: #ffffff;
$gradient: -webkit-linear-gradient(top, rgba(243,129,129,0.8) 0%,rgba(252,227,138,0.8) 100%);
// fonts family
$RobotoRegular: 'Roboto-Regular';
$RobotoLightItalic: 'Roboto-Light-Italic';
$MontserratBold: 'Montserrat-Bold';
$MontserratRegular: 'Montserrat-Regular';
$KaushanScriptRegular: 'Kaushan Script';
// font size
$rootFontSize: 10px;
// general style
$marginAuto: 0 auto;
// background images
$headerImg: "../imgs/header.jpg";
$uniqueDesignImg: "../imgs/unique-design.jpg";
$quote2Img: "../imgs/quote2.jpg";
$whatPeopleSayImg: "../imgs/peoplesay.jpg";
// vendors
$secId: story-about-us, amazing-services, unique-design, meet-our-team, some-of-our-works, what-people-say, latest-blog, what-we-do;
$whatPeopleSaySecImgs: people1, people2, people3, people4;
$footerInstaImgs: insta1, insta2, insta3, insta4, insta5, insta6, insta7, insta8, insta9;

